body{
    background-color: #f6faff;
    margin-left: 5%;
    margin-right:5%;


}

   
#skill{
    display: flex;
    width: 75px;
}
.all{
    display: flex;
}
.hero{
    color: red;
}
.navbar{
    list-style: none;
    display: flex;
    gap: 150px;
    padding-left: 240px;
}
#login{
    border-radius: 20px;
    width: 90px;
    height: 40px;
    margin-top: 8px;
}
#join{
    border-radius: 20px;
    width: 90px;
    height: 40px;
    margin-top: 8px;
    color: red;
}
.whole{
    display: flex;
    gap: 380px;
}
#superhero{
color: red;
}
.statement{
    font-size: x-large;
    color: #233860;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 30px;
}
#tickimage{
    width: 30px;
}
.monthly{
    display: flex;
}
.text{
    font-size: larger;
    color: #95abc6;
}
#image{
    width:600px;
    height: 500px;
}
.buttons{
    display: flex;
}
#button{
border-radius: 30px;
width: 80%;
height: 34px;
margin-right: -32%;
font-size:medium;

}
#home{
 color: red;
}

#explore{
    background-color: red;
    color: white;
    border-radius: 100px;
    font-size: large;
    height: 40px;
    width: 150px;
}
.words{
    display: flex;
    gap: 90px;
    padding-bottom: 10px;
    color:#95abc6 ;
    padding-top: 20px;
}
.footer{
    gap: 80px;
    display: flex;
    margin-left: 100px;
    width: 150px;
    align-items: center;
   

}

@media screen and (min-width: 260px) and (max-width: 740px){
    #skill{
        flex-wrap: wrap;
        width: 25px;
    }
    .all{
        flex-wrap: wrap;
    }
    .hero{
        color: red;
        flex-wrap: wrap;
    }
    #image{
        width:350px;
        height: 350px;
    }
    .navbar{
        flex-wrap: wrap;
        list-style: none;
        gap: 50px;
        padding-left: 40px;
    }
    #login{
        border-radius: 30px;
        flex-wrap: wrap;
    }
    #join{
        flex-wrap: wrap;
        margin-top: 13px;
        color: red;
    }
    .whole{
        display: flex;
        flex-wrap: wrap;
    }
    .statement{
        font-size: x-large;
        flex-wrap: wrap;
        font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .text{
        font-size: large;
        flex-wrap: wrap;
    }
    .button{
        display: flex;
    }
    #button{
        border-radius: 30px;
        width: 80%;
        height: 34px;
        margin-right: -32%;
        font-size:medium;
        
        }
        #home{
         color: red;
        }
        
        #explore{
            background-color: red;
            color: white;
            border-radius: 100px;
            font-size: large;
            height: 40px;
            width: 150px;
        }
        .words{
            display: flex;
            gap: 90px;
            padding-bottom: 10px;
            color:#95abc6 ;
            padding-top: 20px;
        }
    .footer{
        flex-wrap: wrap;
    width: 100px;
    align-items: center;
    
        
    
}

}

@media screen and (min-width: 740px) and (max-width: 1024px){

    #skill{
        flex-wrap: wrap;
        width: 25px;
    }
    .all{
        flex-wrap: wrap;
    }
    .hero{
        color: red;
        flex-wrap: wrap;
    }
    #image{
        width:350px;
        height: 350px;
    }
    .navbar{
        flex-wrap: wrap;
        list-style: none;
        gap: 50px;
        padding-left: 40px;
    }
    #login{
        border-radius: 30px;
        flex-wrap: wrap;
    }
    #join{
        border-radius: 30px;
        flex-wrap: wrap;
        margin-top: 13px;
        color: red;
    }
    .whole{
        gap: none;
        flex-wrap: wrap;
    }
    .statement{
        font-size: x-large;
        flex-wrap: wrap;
        font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .text{
        font-size: large;
        flex-wrap: wrap;
    }
    .button{
        display: flex;
    }
    #button{
        border-radius: 30px;
        width: 80%;
        height: 34px;
        margin-right: -32%;
        font-size:medium;
        
        }
        #home{
         color: red;
        }
        
        #explore{
            background-color: red;
            color: white;
            border-radius: 100px;
            font-size: large;
            height: 40px;
            width: 150px;
        }
        .words{
            display: flex;
            gap: 90px;
            padding-bottom: 10px;
            color:#95abc6 ;
            padding-top: 20px;
        }
    .footer{
        align-items: center;
       flex-wrap: wrap;
        width: 100px;
      
    
}
}


@media screen and (min-width: 1024px) and (max-width: 1300px){

    #skill{
        flex-wrap: wrap;
        width: 25px;
    }
    .all{
        flex-wrap: wrap;
    }
    .hero{
        color: red;
        flex-wrap: wrap;
    }
    #image{
        width:350px;
        height: 350px;
    }
    .navbar{
        flex-wrap: wrap;
        list-style: none;
        gap: 50px;
        padding-left: 40px;
    }
    #login{
        border-radius: 30px;
        flex-wrap: wrap;
    }
    #join{
        border-radius: 30px;
        flex-wrap: wrap;
        margin-top: 13px;
        color: red;
    }
    .whole{
        gap: none;
        flex-wrap: wrap;
    
    }
    .statement{
        font-size: x-large;
        flex-wrap: wrap;
        font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .text{
        font-size: large;
        flex-wrap: wrap;
    }
    .button{
        display: flex;
    }
    #button{
        border-radius: 30px;
        width: 80%;
        height: 34px;
        margin-right: -32%;
        font-size:medium;
        
        }
        #home{
         color: red;
        }
        
        #explore{
            background-color: red;
            color: white;
            border-radius: 100px;
            font-size: large;
            height: 40px;
            width: 150px;
        }
        .words{
            display: flex;
            gap: 90px;
            color:#95abc6 ;
           
        }
    .footer{
        align-items: center;
        display: flex;
        width: 50px;
       
    
}
}